# CODEOWNERS for qmetry-test-management-plugin
#
# Code owners are automatically requested for review when someone opens a
# pull request that modifies matching files. The LAST matching pattern for a
# given path takes precedence.
#
# Owners must have write access to this repository, otherwise they are ignored.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo.
*	@SommanekNimesh @dharminsolanki @QMetryDev